@model BeHeard.Models.DashboardViewModel
@{ 

}

@*<div class="row align-items-start vh-100">*@
<div class="row">
    <div class="col-12 p-5">
        <h2>Homer's Stats</h2>
    </div>
    <div class="col-6 p-3">
        <canvas id="line-chart"></canvas>
    </div>
    <div class="col-6 p-3">
        <canvas id="pie-chart"></canvas>
    </div>
</div>

@section Scripts
{
    <script src="~/js/chart.js"></script>
    <script>
        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }

        function numbers(NUMBER_CFG) {
            var label = []
            for (var i = 0; i < NUMBER_CFG.count; i++) {
                label.push(getRandomInt(NUMBER_CFG.max))
            }
            return label
        }

        const DATA_COUNT = 7;
        const NUMBER_CFG = { count: DATA_COUNT, min: 0, max: 100 };

        // const labels = Utils.months({ count: 7 });
        const labels = ["January", "Febuary", "March", "April", "May", "June", "July"]
        const data = {
            labels: labels,
            datasets: [
                //{
                //    label: 'Dataset 1',
                //    data: Utils.numbers(NUMBER_CFG),
                //    borderColor: Utils.CHART_COLORS.red,
                //    backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
                //},
                {
                    label: 'Monthly Usage',
                    data: numbers(NUMBER_CFG),
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgb(54, 162, 235)'
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: "Homer's Monthly Usage"
                    }
                }
            },
        };

        new Chart($('#line-chart'), config);

        const CHART_COLORS = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
        //    purple: 'rgb(153, 102, 255)',
        //    grey: 'rgb(201, 203, 207)'
        };

        const DATA_COUNT2 = 5;
        const NUMBER_CFG2 = { count: DATA_COUNT2, min: 0, max: 100 };

        const data2 = {
            labels: ['Red', 'Orange', 'Yellow', 'Green', 'Blue'],
            datasets: [
                {
                    label: 'Proficiency',
                    data: numbers(NUMBER_CFG2),
                    backgroundColor: Object.values(CHART_COLORS)
                }
            ]
        };

        const config2 = {
            type: 'doughnut',
            data: data2,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: "Homer's Proficiency"
                    }
                }
            },
        };
        new Chart($('#pie-chart'), config2);
    </script>
}
