@model BeHeard.Models.SpeechProcessModel

<div class="container">
    <div class="row align-items-center vh-100">
        <div class="border" style="border-radius: 8px; background-color: #fff2ec;">
            <div class="col-12 text-center mt-4 mb-4">
                <h2>The quick brown fox jumps over the lazy dog</h2>
            </div>
            <div class="col-12 text-center mb-4">
                <button class="btn btn-primary"><i class="fas fa-microphone-alt"></i> Start</button>
                <button class="btn btn-primary"><i class="fas fa-upload"></i> Send recording file</button>
                <button class="btn btn-danger"><i class="fas fa-stop-circle"></i> Stop</button>
            </div>
        </div>
    </div>
</div>

