<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="controls">
    <div class="row align-items-center vh-100">
        <div class="col align-items-center">
            <div class="row text-center m-2 h-auto" style="background-color: darkgrey; border-radius: 8px">
                <button type="button" class="btn btn-primary" id="recordButton">
                    <div class="col-12">
                        <i class="fas fa-microphone-alt fa-4x"></i>
                    </div>
                    <div class="col-12">
                        <h3>Start Recording</h3>
                    </div>
                </button>
            </div>
            <div class="row text-center m-2 h-auto" style="background-color: darkgrey; border-radius: 8px">
                <button type="button" class="btn btn-primary" id="stopButton">
                    <div class="col-12">
                        <i class="fa-solid fa-stop fa-4x"></i>
                    </div>
                    <div class="col-12">
                        <h3>Stop Recording</h3>
                    </div>
                </button>
            </div>
            <div class="row text-center m-2 h-auto" style="background-color: darkgrey; border-radius: 8px">
                <button type="button" class="btn btn-primary" id="pauseButton">
                    <div class="col-12">
                        <i class="bi bi-stop fa-4x"></i>
                    </div>
                    <div class="col-12">
                        <h3>Pause Recording</h3>
                    </div>
                </button>
            </div>
            <div class="row text-center m-2 h-auto" style="background-color: darkgrey; border-radius: 8px">
                <h3>Recordings</h3>
                <ol id="recordingsList"></ol>
            </div>
        </div>
    </div>
</div>
<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="js/Recorder/recorder.js" asp-append-version="true"></script>
<script src="js/Recorder/app.js" asp-append-version="true"></script>