@model BeHeard.Models.ProfileModel
@{
}

<div class="container" style="background-color: #a7c7b9; height: 800px; border-radius: 8px; ">
    <div class="row">
        <div class="col-12 m-2 justify-content-center text-center">
            <img src="https://avatarfiles.alphacoders.com/197/1976.jpg" alt="..." class="rounded-circle">
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-2">
            <div class="row">
                <div class="col m-2">
                    <button type="button" class="btn btn-secondary">Settings</button>
                </div>
            </div>
            <div class="row">
                <div class="col m-2">
                    <button type="button" class="btn btn-secondary">Preferences</button>
                </div>
            </div>
            <div class="row">
                <div class="col m-2">
                    <button type="button" class="btn btn-secondary">Customization</button>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="container text-center" style="background-color:  #bff2f5; height: 600px; border-radius: 8px;">
                <div class="row m-2">
                    UserName: ExampleUsername
                </div>
                <div class="row m-2">
                    Your email: Example@gmail.com
                </div>
                <div class="row m-2">
                    Passowrd: *******
                </div>
            </div>
        </div>
    </div>
</div>