@model BeHeard.Models.ProfileModel
@{
}

<div class="row">
    <div class="col-11 m-4 d-flex" style="background-color: #a7c7b9; height: 600px; border-radius: 8px; ">
        <div class="col-12 justify-content-center text-center">
            <img src="https://avatarfiles.alphacoders.com/197/1976.jpg" alt="..." class="rounded-circle">
                @*<button type="button" class="btn btn-secondary">Settings</button>
            <button type="button" class="btn btn-secondary">Preferences</button>*@
         </div>
    </div>
</div>