@model BeHeard.Models.ProfileModel
@{
}

<div class="bg-image" 
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">
    <div class="container mb-2">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-12 bg-white p-0 px-3 py-3 mb-3">
                        <div class="d-flex flex-column align-items-center">
                            <img class="rounded-circle z-depth-2" alt="100x100" src="https://avatarfiles.alphacoders.com/693/69306.jpg"
                                 data-holder-rendered="true">
                            <p class="fw-bold h4 mt-3">John Smith</p>
                            <div class="d-flex ">
                                <a href="/Settings" type="button" class="btn btn-outline-primary">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 ps-md-4">
                <div class="row">
                    <div class="col-12 bg-white px-3 mb-3 pb-3">
                        <h6 class="d-flex align-items-center mb-3 fw-bold py-3">Personal</h6>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Full Name</p>
                            <p class="py-2 text-muted">John Smith</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Email</p>
                            <p class="py-2 text-muted">example@example.com</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Phone</p>
                            <p class="py-2 text-muted">(775)123-4567</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="py-2">Address</p>
                            <p class="py-2 text-muted"> Reno, NV</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="py-2">Sex</p>
                            <p class="py-2 text-muted">Male</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="py-2">Age</p>
                            <p class="py-2 text-muted">38</p>
                        </div>
                    </div>
                    <div class="col-12 bg-white px-3 pb-2">
                        <h6 class="d-flex align-items-center mb-3 fw-bold py-3">Account</h6>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Subscription type</p>
                            <p class="py-2 text-muted">Reoccurring</p>
                        </div>
                        <div class="btn-group dropend">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Payment Methods
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Payment Method 1</button></li>
                                <li><button class="dropdown-item" type="button">Payment Method 2</button></li>
                                <li><button class="dropdown-item" type="button">Payment Method 3</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>