<section class="bh-first-content">
    <div class="container">
        <div class="row" id="HeroContent">
            <div class="d-none d-lg-block col-6">
                <p class="bh-text-jumbo">
                    Be Heard<br/>
                    Speech<br/>
                    Rehabilitation
                </p>
            </div>           
            <div class="d-lg-none d-md-block text-center mb-5">
                <h1>Be Heard Speech Rehabilitation</h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
                <img class="img-fluid ease-object" data-timing="cubicIn" alt="microphone" src="images/mic.jpg" />
            </div>           
            <div class="col-sm-6 col-md-6 col-lg-3 d-none d-sm-block">
                <img class="img-fluid ease-object" data-timing="backOut" alt="message bubbles" src="images/message-bubbles.jpg" />
            </div>           
        </div>
    </div>
</section>

<section class="bh-orange-faded-content ease-object" id="Goals" data-timing="sineIn">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="bh-text-jumbo">Goals</p>
            </div>
            <div class="col-12">
                <div class="row" id="GoalsContent">
                    <div class="col-md-12 col-lg-4 text-center">
                        <img class="img-fluid w-100" alt="woman using a megaphone" src="images/woman-on-megaphone.jpg"/>
                        <h2 class="pt-3">Projection</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 text-center">
                        <img class="img-fluid w-100" alt="hearing gesture" src="images/hear-gesture.jpg"/>
                        <h2 class="pt-3">Enunciation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 text-center">
                        <img class="img-fluid w-100" alt="woman smiling" src="images/woman-smile.jpg"/>
                        <h2 class="pt-3">Cognitive Speech</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="TheTeam" class="ease-object" data-timing="circIn">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center" id="TheTeamContent">
                <div class="card col-10 text-center">
                    <div class="card-body pt-5">
                        <h1 class="card-title mb-4">The Team</h1>
                        <div class="row">
                            <div class="col-6 mb-4">
                                <h4>Albert Galang</h4>
                            </div>
                            <div class="col-6">
                                <h4>Cory Starks</h4>
                            </div>
                            <div class="col-6">
                                <h4>Jake McAllister</h4>
                            </div>
                            <div class="col-6">
                                <h4>Matt Facque</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer mt-5 text-white text-center">
                        <a class="text-white" href="!#"><p>Contact us.</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/landing.js"></script>
}
