<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div id='myModalContent'></div>
</div>

<body style="background-color: #fcfeff;">

    <div class="container mb-2 shadow pt-5 bg-white h-100" style="">

        <!--Admin Welcome-->

        <div class="container-xxl py-5 pb-2">
            <div class="container ">
                <h1 class="mb-4">Welcome to the Admin <i class="fa fa-hammer" style="color: dodgerblue;"></i> Dashboard</h1>
                <p class="mb-4"><strong>Location for datebase editing, demographic breakdown, and more.</strong></p>
                <div class="row g-4 mb-4">
    @*                        <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0">2/1</h1>
                            <div class="ps-4">
                                <p class="mb-0">day of</p>
                                <h6 class="text-uppercase mb-0">last login</h6>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"><span class="count-up" data-from="0" data-to="@Model.users" data-time="2000"></span></h1>
                            <div class="ps-4">
                                <p class="mb-0">Total</p>
                                <h6 class="text-uppercase mb-0">Users</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"><span class="count2" data-from="0" data-to="@Model.medicalProviders" data-time="2000"></span></h1>
                            <div class="ps-4">
                                <p class="mb-0">Total</p>
                                <h6 class="text-uppercase mb-0">Medical Providers</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"><span class="count1" data-from="0" data-to="@Model.activities" data-time="2000"></span></h1>
                            <div class="ps-4">
                                <p class="mb-0">Total</p>
                                <h6 class="text-uppercase mb-0">Activities Results</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="width:100%" size="3" color="black">

        <div class="container py-5">
            <div class="container">
                 <div class="row g-4 pb-2 mx-3">
                    <div class="d-flex col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="color-flip rounded pt-3" id="color-flip">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user text-primary mb-4"></i>
                                <h5>User</h5>
                                <p>Edit/Display/Search for current Be Heard users.</p>
                                <a href="#userDetails" class="stretched-link userDetails"> </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="color-flip rounded pt-3" id="color-flip">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-md text-primary mb-4"></i>
                                <h5>Medical Providers</h5>
                                <p>Edit/Display/Search registered Be Heard Specialist.</p>
                                <a href="#userDetails" class="stretched-link providerDetails"> </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="color-flip rounded pt-3" id="color-flip">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-plus text-primary mb-4"></i>
                                <h5>Demographics</h5>
                                <p>Statistical data relating to the population and particular groups within the User group.</p>
                                <a id="demographicsDetails" href="#demographicsDetails" class="stretched-link"> </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="color-flip rounded pt-3" id="color-flip">
                            <div class="p-4">
                                <i class="fa fa-3x fa-chart-pie text-primary mb-4"></i>
                                <h5>Analytics</h5>
                                <p>Statistical data relating to the available users activities.</p>
                                <a id="demographicsDetails" href="#demographicsDetails" class="stretched-link"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <hr style="width:100%" size="3" color="black">

                    <!-- Collapse #userDetailsCollapse-->
            <div class="panel-collapse collapse py-2" id="userDetailsCollapse">
                <div class="card card-body" id="myCollapse1">
                    <div class="container-xxl shadow overflow-auto" style="max-height:800px;">
                        Find by First Name, Last Name, or Username: <input type="text" id="searchField" name="searchString"/>
                        <input type="submit" class="btn searchButton btn-success text-white" />                     
                        <hr style="width:100%" size="3" color="black">
                        <div id="divUserDetails">
                            <!--- Render Content --->
                        </div>
                    </div>
                </div>
            </div>
                    <!-- Collapse #medicalProviderDetailsCollapse-->
            <div class="panel-collapse collapse py-2" id="medicalProvidersCollapse">
                <div class="card card-body" id="myCollapse1">
                    <div class="container-xxl shadow overflow-auto" style="max-height:800px;">
                        <h1>Current Providers on the database -</h1>             
                        <hr style="width:100%" size="3" color="black">
                        <div id="divMedicalProvidersDetails">
                            <!--- Render Content --->
                        </div>
                    </div>
                </div>
            </div>
                            <!-- Collapse #demographicsCollapse-->
            <div class="panel-collapse collapse py-2" id="demographicsCollapse">
                <div class="card card-body" id="myCollapse1">
                    <div class="container shadow">
                        <h1>Demographics -</h1>
                        <hr/>
                        <div id="divDemographicsDetails" overflow-y: hidden;>                    
                            <!--- Render Content --->
                        </div>
                    </div>
                </div>
            </div>
                    <!-- Collapse #analyticsDetailsCollapse-->
            <div class="panel-collapse collapse py-2" id="userDetailsCollapse">
                <div class="card card-body" id="myCollapse1">
                    <div class="container-xxl shadow overflow-auto" style="max-height:800px;">
                        Find by First Name, Last Name, or Username: <input type="text" id="searchField" name="searchString"/>
                        <input type="submit" class="btn searchButton btn-success text-white" />                     
                        <hr style="width:100%" size="3" color="black">
                        <div id="divUserDetails">
                            <!--- Render Content --->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<style>
    :root {
        --light: #FF9B6A;
        --dark: #0F172B;
    }

    p#losinfo {
        font-size: 35px;
        font-weight: bold;
    }

        p#losinfo span {
            font-size: 25px;
            font-weight: normal;
        }
    .color-flip {
        box-shadow: 0 0 45px rgba(0, 0, 0, .08);
        transition: .5s;
    }

        .color-flip:hover {
            background: var(--light);
        }
        .color-flip:hover *{
            color: white;
        }
        .color-flip * {
            transition: .5s;
            transform: rotate(0);
        }
        .color-flip:hover h1{
            transform: scale(1.5);
        }
    
    #chartdiv {
      width: 100%;
      height: 500px
    }

</style>



@section Scripts
{
   
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!--Scripts for Gender Chart-->
<script src="~/js/chart.js"></script>
<script src="~/js/app.js"></script>



<script>
    var URLs = {show: '../Admin/Show', edit: '../Admin/Edit', delete: '../Admin/Delete'}
    var buttons = {show: '.btnDetail', edit: '.btnEdit', delete: '.btnDelete'}
  

    function modalCall(URLs, buttons){
        $(function () {
            $(buttons).click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: URLs,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');                    
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });
    };

    function deleteCall(buttons){
        $(function () {
            $(buttons).click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: '../Admin/Delete',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function(response) {
                        alert("Success")
                        $("#divUserDetails").load("/Admin/UserTable");
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
         });
    };

    $(document).ready(function () {
            
        if (window.location.href.indexOf("?saveUpdate") > -1 || window.location.href.indexOf("?deleted") > -1 ) {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '/Admin/UserTable',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#divUserDetails').html(data);
                    $("#userDetailsCollapse").collapse("toggle");
                    $('#userDetailsCollapse').on('shown.bs.collapse', function () {
                        this.scrollIntoView();
                    });
                        //  Load Modals
                        modalCall(URLs.show, buttons.show);
                        modalCall(URLs.edit, buttons.edit);
                        deleteCall(buttons.delete);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        };

        $(".userDetails").click(function () {

            var $attrib = $("#divUserDetails");
            var options = { "backdrop": "static", keyboard: true };

            
            $("#userDetailsCollapse").collapse("toggle");

            if(!$attrib.data("subMenuPopulated") && $attrib.is(":visible")){
                $.ajax({
                    type: "GET",
                    url: '/Admin/UserTable',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {

                        $('#divUserDetails').html(data).data('subMenuPopulated', true);
                        //$("#userDetailsCollapse").collapse("toggle");
                        $('#userDetailsCollapse').on('shown.bs.collapse', function () {
                            this.scrollIntoView();
                        });
                            //  Load Modals
                            modalCall(URLs.show, buttons.show);
                            modalCall(URLs.edit, buttons.edit);
                            deleteCall(buttons.delete);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
        });

        $(".providerDetails").click(function () {
            
            var $attrib = $("#divMedicalProvidersDetails");
            var options = { "backdrop": "static", keyboard: true };

            $("#medicalProvidersCollapse").collapse("toggle");

            if(!$attrib.data("subMenuPopulated") && $attrib.is(":visible")){
                $.ajax({
                    type: "GET",
                    url: '/Admin/UserTable',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: {
                        searchField: "Specialist"
                    },
                    success: function (data) {
                        $('#divMedicalProvidersDetails').html(data).data('subMenuPopulated', true);
                        //$("#userDetailsCollapse").collapse("toggle");
                        $('#medicalProvidersCollapse').on('shown.bs.collapse', function () {
                            this.scrollIntoView();
                        });
                            //  Load Modals
                            modalCall(URLs.show, buttons.show);
                            modalCall(URLs.edit, buttons.edit);
                            deleteCall(buttons.delete);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
        });

        var searchUrl = "../Admin/UserTable";
        $(".searchButton").click(function () {

            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: searchUrl,
                contentType: "application/json; charset=utf-8",
                data: {
                    searchField: $('#searchField').val()
                },
                datatype: "json",
                success: function (result) {
                    $('#divUserDetails').html(result);
                    $('#userDetailsCollapse').on('shown.bs.collapse', function () {
                    this.scrollIntoView();
                });
                        //  Load Modals
                        modalCall(URLs.show, buttons.show);
                        modalCall(URLs.edit, buttons.edit);
                        deleteCall(buttons.delete);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });


        $("#demographicsDetails").click(function () {
            var $attrib = $("#divDemographicsDetails");
            //var options = { "backdrop": "static", keyboard: true };
            var delay = 500;

            if(!$attrib.is(":visible")){

                $.ajax({
                    type: "GET",
                    url: '/Admin/Demographics',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {                
                         $('#divDemographicsDetails').html(data);
                        //$("#demographicsCollapse").collapse("toggle");
                        $('#demographicsCollapse').on('shown.bs.collapse', function () {
                            this.scrollIntoView();
                        });
                        },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }

            setTimeout(function() {
                $("#demographicsCollapse").collapse("toggle");
            }, delay);

        });
    });
           
</script>

}