<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeHeard</title>
    <link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
    <header>
        @await Component.InvokeAsync("Navigation")
    </header>

    <main role="main" class="">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="background-color: #161e54;">
        <div class="container-fluid text-center text-white-50 p-3" style="height: 200px;">
            &copy; 2021 - BeHeard - <a class="text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/main.js" asp-append-version="true"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
