<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Be Heard</title>
    <link rel="stylesheet" href="~/css/main.min.css" />
    <link rel="stylesheet" href="~/css/animate/animate.css" />
</head>
<body>
<section id="app" class="container-fluid">
    <div class="row">
        <section id="SideNav" class="col-sm-12 col-md-1 col-lg-2">
            @await Component.InvokeAsync("Navigation", "side")
        </section>
        <main role="main" class="col-sm-12 col-md-11 col-lg-10">
            @RenderBody()
        </main>
    </div> 
</section>

<script src="~/js/main.js" asp-append-version="true"></script>
<script src="~/js/wow/wow.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>