@using BeHeard.Services
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeHeard</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BeHeard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="sticky-top d-flex flex-column align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-1 d-none d-sm-inline">Be Heard</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link align-middle px-0" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fs-2 fas fa-house-user"></i> <span class="fs-3 ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link px-0 align-middle">
                                <i class="fs-2 fas fa-columns"></i> <span class="fs-3 ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Exercises" asp-action="Index" class="nav-link px-0 align-middle">
                                <i class="fs-2 fas fa-columns"></i> <span class="fs-3 ms-1 d-none d-sm-inline">Exercises</span>
                            </a>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="fs-3 d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://avatarfiles.alphacoders.com/693/69306.jpg" alt="hugenerd" width="80" height="80" class="rounded-circle">
                            <span class="d-none d-md-block fs-3 d-none d-sm-inline mx-4">

                                @{
                                    var thisSession = Context.Session.GetObjectFromJson<SessionModel>("thisSession");
                                    string Name = thisSession.FirstName + " " + thisSession.LastName;
                                    @Name
                                }
                                @session.FirstName

                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item fs-3" href="/Settings">Settings</a></li>
                            <li><a class="dropdown-item fs-3" href="/Profile">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fs-3" asp-area="" asp-controller="Logout" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <main role="main" class="col pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-danger">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>