
@{
    ViewData["Title"] = "View";
}

@model BeHeard.Models.LoginModel
@{
}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>Be Heard Login</h3>
            </div>
            <div class="card-body m-4">
                <form method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="Login">
                    <div class="form-group pb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter your username" name="Username" />
                    </div>
                    <div class="form-group pb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter your password" name="Password" />
                    </div>
                    <div class="text-center pb-4">
                        <button type="submit" class="btn btn-primary w-100">Sign In</button>
                    </div>
                </form>
                <div class="row justify-content-center text-center">
                    <div class="col-6">
                        <a asp-area="" asp-controller="Login" asp-action="TermsConditions">Create an account</a>
                    </div>
                    <div class="col-6">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

