@using Microsoft.AspNetCore.Http

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel

@{

}

<h1>Hello @Model.FullName</h1>
<h2>Breathing Exercises</h2>

<div id="directions">
    <p>This exercise is to establish strong breathing techniques as well as correct diaphragm position!</p>
    <p>Breath in for <strong>4</strong> seconds.</p>
    <p>Breath out for <strong>10</strong> seconds.</p>
</div>

 <div id="Buttons">
    <button id="startButton" type="button">Start</button>
</div>

<div id="time_remaining"></div>
<div id="timer"></div>

<script>
var timer = null;

document.getElementById("startButton").onclick = function () { start_timer() };

function start_timer() {
    timer = 14;

    function timeDetails() {
        if (timer > 10) {
            document.getElementById("timer").innerHTML = "Breathe In";
        }
        else if (timer <= 10 && timer > 0) {
            document.getElementById("timer").innerHTML = "Breathe Out";
        }
        else {
            clearInterval(downloadTimer);
            document.getElementById("timer").innerHTML = "Relax";
        }
        document.getElementById("time_remaining").innerHTML = timer;
        timer--;
    }

    var downloadTimer = setInterval(timeDetails, 1000);
}
</script>
