@using Microsoft.AspNetCore.Http

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel

@{

}

<h1>Hello @Model.FullName</h1>
<h2>Breathing Exercises</h2>

<div class="container" id="directions">
    <div>
        <p>This exercise is to establish strong breathing techniques as well as correct diaphragm position!</p>
        <p>Breath in for <strong>4</strong> seconds.</p>
        <p>Breath out for <strong>10</strong> seconds.</p>
    </div>
</div>

 <div id="Buttons">
    <button id="startButton" type="button">Start</button>
</div>

<div class="container">
    <div>
        <p>Time Remaining: <strong><span id="time_remaining"></span></strong></p>
    </div>
</div>
<div class="container">
    <div>
        <p>Action: <strong><span id="timer"></span></strong></p>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/js/breathing.js"></script>
}

