@using Microsoft.AspNetCore.Http

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel

@{

}

<h1>Empty Exercise</h1>

<p>These are the directions to the exercise</p>

<!--Tips for exercise-->
<div class="container p-5 my-5 bg-dark text-white">
    <div class="row">
        <h2>Nice Job!</h2>
        <h3>Keep it up!</h3>
        <h6>Here are some tips for next time!</h6>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item">Be Sure to Practice Everyday.</a>
            <a href="#" class="list-group-item">If you get frustrated, take a break!</a>
            <a href="#" class="list-group-item">Small steps are ok, nobody got where they were going on the first try!</a>
        </div>
    </div>
</div>