@using Microsoft.AspNetCore.Http
@using BeHeard.Extensions

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel

@{

}

<h1>Empty Exercise</h1>

<p>These are the directions</p>
<p>More directions</p>
<p>....</p>
<p>....</p>
<p>Enjoy your Exercise!</p>

<div class="User">
    <h1>Good Job @Model.FullName</h1>
</div>