@using Microsoft.AspNetCore.Http

<!--Exercises-->
@model BeHeard.Models.ExerciseModel

@{

}

<h1>Hello, Welcome to Exercise 3</h1>

<h3>Spin around 10 times</h3>

<p>Sing "Im a Little Tea Pot"</p>
<p>Short and Stout</p>
<p>Here is my Handle</p>
<p>And Here is my Spout</p>

<div class="Apology">
    <h1>Sorry, I don't know how that'll help you, but trust us!</h1>
    <h6>We're experts!</h6>
</div>