@using Microsoft.AspNetCore.Http
@using BeHeard.Extensions

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel
<!--user welcome-->


<body style="background-color: #ffcab0;">

    <div class="container mb-2 shadow pt-5 bg-white h-100">

        <!--User Welcome-->

        <div class="container-xxl py-5 pb-2">
            <div class="container position-relative">
                <div class="row g-5 align-items-center bg-image wow zoomIn" style="background-image: url('/images/family_col-01.png'); background-repeat: no-repeat; height: 700px; background-position: top; background-size: cover; ">
                    <div class="col-lg-6 shadow rounded border bg-white p-lg-3 position-absolute bottom-0 start-0">
                        <h1 class="mb-4">Welcome to <i class="fa fa-boxes" style="color: dodgerblue;"></i> Exercises</h1>
                        <p class="mb-4"><strong>Here you will find all available activies and your program exercises.</strong></p>
                        <p class="mb-4"><strong>Remember, "practice makes perfect", so keep stay active and involved in your program and engage in warm-up activities.'</strong></p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0">2/1</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Day of</p>
                                        <h6 class="text-uppercase mb-0">Last Login</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0"><span class="count-up" data-from="0" data-to="75" data-time="2000"></span></h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Total Completed</p>
                                        <h6 class="text-uppercase mb-0">Activities</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a asp-area="" asp-controller="Exercises" asp-action="Index" class="btn btn-primary py-3 px-5 mt-2">Continue Where You Left Off</a>
                    </div>
                    @*<div class="col-lg-4 mx-auto">
                            <div class="g-3 vh-20 d-none d-lg-block">
                                <img src="/images/family_col-01.png" class="img-responsive" alt="Responsive image" />
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <hr style="width:100%" size="3" color="black">

        <!-- Activites -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Activities</h5>
                    <h1 class="mb-5">Made For You</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-feather"></i></h1>
                            </div>
                            <h5 class="mb-0">Vowel Training</h5>
                            <small>Maintain the Decibel Level</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>An engaging activitiy to help you focus on maintaining a higher decibel level while speaking.</strong>
                                <strong>Do your best to keep the bar green while practicing specific sounds.</strong>
                            </div>
                            <a href="" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-lungs"></i></h1>
                            </div>
                            <h5 class="mb-0">Breathing</h5>
                            <small>Diaphragmatic Breathing Tool</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>A visual-aid tool to assist you with prompts and advice.</strong>
                                <strong>Diaphragmatic breathing means actively pulling the diaphragm down with each inward breath. In this way, diaphragmatic breathing helps the lungs fill more efficiently.</strong>
                                <a href="" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-language"></i></h1>
                            </div>
                            <h5 class="mb-0">Phrasing</h5>
                            <small>Well Spoken Sentences with Pauses</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>Focus on your decibel level while we provide you with sentences.</strong>
                                <strong>Focus on projection and understanding as you progress through sentences designed specifically to provide you with an opportunity to improve.</strong>
                                <a href="" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-adjust"></i></h1>
                            </div>
                            <h5 class="mb-0">Functionality</h5>
                            <small>Practical and Functional Language</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>Repeatedly practice speech with sentences or phrases using rote learning.</strong>
                                <strong>This tool will assist you by providing common language from everyday use.</strong>
                                <a href="" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Exercises -->
        <div class="container-xxl pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Exercises</h5>
                    <h1 class="mb-5">Weekly 1 Hour Sessions</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-feather"></i></h1>
                            </div>
                            <h5 class="mb-0">Volume Chasing</h5>
                            <small>Vowels at the Target Volume</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>This exercise is to practice using a vowel sound at a target volume.</strong>
                                <strong>Low target volume eventually increasing to everyday volume.</strong>
                            </div>
                            <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="volume_chasing"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-lungs"></i></h1>
                            </div>
                            <h5 class="mb-0">Breathing</h5>
                            <small>Strengthen the diaphragm</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>This exercise is all about strengthening the diaphragm.</strong>
                                <strong>Good breathing techniques and a strong core will help immensely in speech.</strong>
                            </div>
                            <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="breathing"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-language"></i></h1>
                            </div>
                            <h5 class="mb-0">Phrasing</h5>
                            <small>Practical Sentences</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>The goal of this exercise is to speak random, practical sentences at a standard volume.</strong>
                                <strong>The exercise is essentially untimed so the focus is on maintaining clarity with a high volume.</strong>
                            </div>
                            <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="volume_phrasing"></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="activity-box text-center rounded overflow-hidden position-relative">
                            <div class="m-4">
                                <h1><i class="fa fa-adjust"></i></h1>
                            </div>
                            <h5 class="mb-0">Rote Speech</h5>
                            <small>Odds and Ends</small>
                            <div class="justify-content-center mt-3">
                                <hr />
                                <strong>The rote speech exercise is to get practice with even more practical phrases and everyday speech.</strong>
                                <strong>This exercise should incorporate all previous exercises, high volume, clarity, strong breathing, and phrasing.</strong>
                            </div>
                            <a class="stretched-link" asp-area="" asp-controller="Exercises" asp-action="rote_speech"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Old Code -->

<!--<div class="container mb-2" style="padding-top: 5%;">

    <div class="row">
        <div class="col-12 p-5 bg-white text-black text-center">
            <h1>Exercise Directory</h1>
            <h3>Hello, @Model.FullName</h3>
            <h6>Every day is good day to get better!</h6>
        </div>
    </div>-->

    <!--user current project-->
    <!--<div class="container p-5 my-5 bg-dark text-white">
        <h3>Current Exercise</h3>
        <p>This is a space to list what the user is currently working on.  It will take the progress on an in-app project from the database and display here for the user.  It will be the last project the user was working on prior to logout.</p>
    </div>

    <div class="container p-5 my-5 bg-dark text-white">
        <div class="row justify-content-center">
            <div class="col-3 m-3 d-flex align-items-center justify-content-center" style="background-color: #fff2ec; height: 200px; border-radius: 8px;">
                <div class="row text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Exercises" asp-action="Exercise1">
                        <div class="col-12">
                            <i class="fas fa-microphone-alt fa-4x"></i>
                        </div>
                        <div class="col-12">
                            <h3>Exercise 1</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 m-3 d-flex align-items-center justify-content-center" style="background-color: #fff2ec; height: 200px; border-radius: 8px;">
                <div class="row text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Exercises" asp-action="Exercise2">
                        <div class="col-12">
                            <i class="fas fa-microphone-alt fa-4x"></i>
                        </div>
                        <div class="col-12">
                            <h3>Exercise 2</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-3 m-3 d-flex align-items-center justify-content-center" style="background-color: #fff2ec; height: 200px; border-radius: 8px;">
                <div class="row text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Exercises" asp-action="Exercise3">
                        <div class="col-12">
                            <i class="fas fa-microphone-alt fa-4x"></i>
                        </div>
                        <div class="col-12">
                            <h3>Exercise 3</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>-->

    <!--user past project-->
    <!--<div class="container p-5 my-5 bg-dark text-white">
        <div class="row">
            <h2>Past Exercises</h2>
            <h6>You're doing great!</h6>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item">Focus Techniques for Everyday Use</a>
                <a href="#" class="list-group-item">Vowel Sounds and Muscle Technique</a>
                <a href="#" class="list-group-item">Breathing for Better Communication</a>
            </div>
        </div>
    </div>
</div>-->


<style>
    /*** Team ***/
    .activity-box {
        box-shadow: 0 0 40px rgba(0, 0, 0, .08);
        height: calc(100% - 250px);
        min-height: 150px;
        transition: .5s;
    }

        .activity-box h1 {
            color: dodgerblue;
            transition: .5s;
        }

        .activity-box:hover h1 {
            transform: scale(1.5);
        }

        .activity-box:hover {
            height: 100%;
        }

        .activity-box .btn {
            border-radius: 38px 38px 0 0;
        }
</style>