<!--Syllables taken from https://www.yourlocalunitedway.org/sites/main/files/3-common_syllables_packet.pdf-->
<!--Syllables taken from https://medium.com/wugs/high-frequency-syllables-in-english-ab75159618a0-->
@using Microsoft.AspNetCore.Http

<!--Exercises-->
@model BeHeard.Models.ExerciseViewModel

@{

}
<!DOCTYPE html>
<html>
<body onload="difficulty_dropdown()">
<br />
<div style="text-align:center;outline-style:solid;outline-color:black;">
    <h1>Hello @Model.FullName</h1>
    <h2>Exercise - Volume Chasing</h2>
</div>
<div class="navbar" id="myNavbar">
    <a class="link" asp-area="" asp-controller="Exercises" asp-action="breathing">Breathing Exercise</a>
    <a class="link" asp-area="" asp-controller="Exercises" asp-action="volume_phrasing">Phrasing Exercise</a>
    <a class="link" asp-area="" asp-controller="Exercises" asp-action="rote_speech">Rote Speech Exercise</a>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="column" style="width:50%;">
            <div id="directions">
                <p>Welcome to volume chasing!</p>
                <p>Choose a syllable and speak it loudy for 10 seconds.</p>
                <p>The meter will fill up according to your volume level.</p>
                <p>Don't let the volume drop!</p>
            </div>
        </div>
        <div class="column" style="width:50%;">
            <div id="diff_directions">
                <p>Choose the difficulty of the exercise in the dropdown!</p>
            </div>
            <div id="diff_dropdown">
                <label for="difficulties">Choose a Difficulty: </label>
                <select name="difficulty" id="diff_option" onchange="difficulty_dropdown()">
                    <option value="easy">easy</option>
                    <option value="medium">medium</option>
                    <option value="hard">hard</option>
                    <option value="impossible">impossible</option>
                </select>
            </div>
            <div id="diff_alert"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="dropdown">
            <label for="syllables">Choose a Syllable:</label>
            <select name="syllable" id="syllable">
                <option value="a">A</option>
                <!--
                <option value="ag">ag</option>
                <option value="am">am</option>
                <option value="an">an</option>
                <option value="at">at</option>
                <option value="ba">ba</option>
                <option value="be">be</option>
                <option value="bi">bi</option>
                <option value="bor">bor</option>
                <option value="by">by</option>
                <option value="cap">cap</option>
                <option value="cat">cat</option>
                <option value="cen">cen</option>
                <option value="cir">cir</option>
                <option value="co">co</option>
                <option value="cus">cus</option>
                <option value="da">da</option>
                <option value="day">day</option>
                <option value="ders">ders</option>
                <option value="dle">dle</option>
                -->
                <option value="e">E</option>
                <!--
                <option value="ef">ef</option>
                <option value="et">et</option>
                <option value="fac">fac</option>
                <option value="fin">fin</option>
                <option value="for">for</option>
                <option value="gen">gen</option>
                <option value="gle">gle</option>
                <option value="go">go</option>
                <option value="grand">grand</option>
                <option value="har">har</option>
                <option value="heav">heav</option>
                <option value="ho">ho</option>
                <option value="ic">ic</option>
                <option value="il">il</option>
                <option value="ings">ings</option>
                <option value="in">in</option>
                <option value="it">it</option>
                <option value="is">is</option>
                <option value="ket">ket</option>
                <option value="land">land</option>
                <option value="lec">lec</option>
                <option value="lead">lead</option>
                <option value="let">let</option>
                <option value="light">light</option>
                <option value="lo">lo</option>
                <option value="ly">ly</option>
                <option value="mag">mag</option>
                <option value="mal">mal</option>
                <option value="mar">mar</option>
                <option value="mat">mat</option>
                <option value="me">me</option>
                <option value="ments">ments</option>
                <option value="mil">mil</option>
                <option value="min">min</option>
                <option value="mul">mul</option>
                <option value="my">my</option>
                <option value="nal">nal</option>
                <option value="near">near</option>
                <option value="ness">ness</option>
                <option value="new">new</option>
                <option value="ni">ni</option>
                <option value="no">no</option>
                <option value="nore">nore</option>
                -->
                <option value="o">O</option>
                <!--
                <option value="ob">ob</option>
                <option value="on">on</option>
                <option value="of">of</option>
                <option value="op">op</option>
                <option value="or">or</option>
                <option value="ous">ous</option>
                <option value="out">out</option>
                <option value="part">part</option>
                <option value="pen">pen</option>
                <option value="ples">ples</option>
                <option value="ply">ply</option>
                <option value="port">port</option>
                <option value="pre">pre</option>
                <option value="ral">ral</option>
                <option value="ra">ra</option>
                <option value="rec">rec</option>
                <option value="ried">ried</option>
                <option value="ro">ro</option>
                <option value="sa">sa</option>
                <option value="sat">sat</option>
                <option value="sent">sent</option>
                <option value="ser">ser</option>
                <option value="set">set</option>
                <option value="ship">ship</option>
                <option value="sim">sim</option>
                <option value="so">so</option>
                <option value="son">son</option>
                <option value="south">south</option>
                <option value="su">su</option>
                <option value="sub">sub</option>
                <option value="sup">sup</option>
                <option value="su">su</option>
                <option value="ta">ta</option>
                <option value="te">te</option>
                <option value="tel">tel</option>
                <option value="tem">tem</option>
                <option value="the">the</option>
                <option value="ti">ti</option>
                <option value="ting">ting</option>
                <option value="tive">tive</option>
                <option value="to">to</option>
                <option value="tor">tor</option>
                <option value="tra">tra</option>
                <option value="tray">tray</option>
                <option value="tu">tu</option>
                <option value="tro">tro</option>
                -->
                <option value="u">U</option>
                <!--
                <option value="um">um</option>
                <option value="up">up</option>
                <option value="us">us</option>
                <option value="val">val</option>
                <option value="vel">vel</option>
                <option value="vi">vi</option>
                <option value="vid">vid</option>
                <option value="way">way</option>
                <option value="west">west</option>
                <option value="wil">wil</option>
                <option value="win">win</option>
                <option value="won">won</option>
                <option value="work">work</option>
                -->
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="column" style="width:50%;">
            <br />
            <!-- The canvas that will be used to render the input level -->
            <canvas id="meter" width="300" height="50" style="border: 1px solid black;"></canvas>
            <div id="Buttons">
                <button id="startButton" type="button">Start</button>
                <button id="pauseButton" type="button" onclick="Pause()">Pause</button>
                <button id="resumeButton" type="button" onclick="Resume()">Resume</button>
                <!--<button type="button" onclick="pauseMic()">Pause</button>-->
            </div>
            <div id="Timer"></div>
        </div>
        <div class="column" style="width:50%;">
            <div id="database_area">
                <table style="width:100%;">
                    <caption style="caption-side:top;">@Model.FullName, Volume Chasing Exercise Results</caption>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Difficulty</th>
                            <th>Syllable</th>
                            <th>Volume Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>04/25/22</td>
                            <td>Easy</td>
                            <td>A</td>
                            <td>~30 dba</td>
                        </tr>
                        <tr>
                            <td>04/26/22</td>
                            <td>Easy</td>
                            <td>A</td>
                            <td>~40 dba</td>
                        </tr>
                        <tr>
                            <td>04/28/22</td>
                            <td>Easy</td>
                            <td>O</td>
                            <td>~30 dba</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
    <!--Tips for exercise-->
    <div class="container p-5 my-5 bg-dark text-white">
        <div class="row">
            <h2>Nice Job @Model.FullName!</h2>
            <h3>Keep it up!</h3>
            <h6>Here are some tips for next time!</h6>
            <div class="list-group list-group-flush">
                <a class="list-group-item">Be Sure to Practice Everyday.</a>
                <a class="list-group-item">If you get frustrated, take a break!</a>
                <a class="list-group-item">Small steps are ok, nobody got where they were going on the first try!</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>

@section Scripts
{
    <script type="text/javascript" src="~/js/Exercises/volume_chasing.js"></script>
}