@import "variables";

.bh-first-content {
  padding-top: 12em;
  padding-bottom: 12em;
}
.bh-first-content img {
  height: 363px;
  width: 330px;
  object-fit: cover;
}
#HeroContent img.ease-object {
  transform: translateY(var(--img-translate));
}
.bh-orange-faded-content {
  background-color: $bh-orange-faded;
}
#Goals.ease-object {
  transform: translateY(var(--goals-sect-translate));
}
#Goals .container {
  padding: 10em 0 10em 0;
}
section#Goals {
  -webkit-box-shadow: 0px -2px 15px 2px rgba(0,0,0,var(--op));
  box-shadow: 0px -2px 15px 2px rgba(0,0,0,var(--op));
}
#GoalsContent img {
  object-fit: cover;
}
#TheTeam.ease-object {
  opacity: (var(--team-op));
  transform: translateY(var(--team-sect-translate));
}
#TheTeamContent .card {
  background-image: $bh-card-orange-light-gradient;
  border-radius: $bh-card-border-radius;
  border-color: $bh-purple-dark;
  border-width: 1.5px;
}
#TheTeamContent .card .card-footer {
  background-color: $bh-purple-dark;
  border-radius: 15px;
  height: 3em;
}