.navbar ul li a {
  font-size: 1.2em;
  font-weight: 350;
  padding: 0.4em 1.5em;
}
.navbar ul li a .btn {
  margin-left: 0.8em;
}
.navbar-brand img {
  width: 175px;
  object-fit: cover;
}
#SignInLink {
  margin-right: 1em;
}
.navbar-toggler {
  outline: transparent !important;
  border-color: transparent !important;
  background-color: transparent !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &[aria-expanded*="false"] {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  &[aria-expanded*="true"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}