//colors
$bh-orange: #fc6801;
$bh-orange-light: #ffd4b7;
$bh-orange-dark: #702e00;
$bh-orange-faded: #e7cfc3;
$bh-blue: #0b3954;
$bh-blue-light: #69bbeb;
$bh-blue-dark: #08283a;
$bh-purple: #8a4f7d;
$bh-purple-light: #d1aec9;
$bh-purple-dark: #3b2236;

//card
$bh-card-border-radius: 20px;
$bh-card-orange-light-gradient: linear-gradient(to right top, #d1aec9, #e5b4c5, #f4bdbf, #fcc7ba, #ffd4b7);

//text
// $bh-text-jumbo: 48pt;
$bh-text-jumbo: 58pt;
