@model BeHeard.Models.LoginModel

<section id="LoginForm">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div id="LoginContent" class="col-6">
                <div id="LoginHeader" class="text-center">
                    <div id="LoginLogo">
                        <img class="w-50" src="~/assets/BeHeardLogo-01.png" alt="Be Heard Logo"/>
                        <p id="LoginErrorMessage">
                            @if (TempData["Error"] != null)
                            {
                                @TempData["Error"]
                            }
                        </p>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="Login">
                    <div class="form-group">
                        <label for="Username"></label>
                        <input type="text" class="form-control" id="Username" aria-describedby="UsernameHelp" placeholder="Username" name="Username"/>
                    </div>
                    <div class="form-group">
                        <label for="Password"></label>
                        <input type="password" class="form-control" id="Password" aria-describedby="PasswordHelp" placeholder="password" name="Password"/>
                    </div>
                    <div class="col-12 pt-3">
                        <button type="submit" class="btn bh-btn-primary w-100">Sign in</button>
                    </div>
                </form>
                <div id="LoginSecondaryControl" class="row text-center pt-3">
                    <div class="col-6">
                        <a href="~/Login/Registration">Create Account</a>
                    </div>
                    <div class="col-6">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
